$weath-font-s: 1.5em;


body {
	background-color: #535353;
	color: #E0E0E0;
	button {
		background-color: #E0E0E0;
	}
	font-family: urbane, sans-serif;;
	font-weight: 500;
	font-style: normal;
}

.hidden {
	display: none !important;
}