header {
	height: 100vh;
	background-color: #535353;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	.logo {
		height: 10em;
		// justify-self: center;
		// align-self: center;
	}
	// button {
	// 	align-self: end;
	// 	justify-self: center;
	// }

}