.home{
	height: 100vh;
	background-color: #535353;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	.logo {
		width: 20em;
		grid-row: 1;
		justify-self: center;
		align-self: center;
	}

	.button {
		grid-row: 2;
		justify-self: center;
		align-self: center;
		background-color: #E5E5E5;
		color: #000;

	}
	.button:hover {
		background-color: #55A6F8;
	}
}